@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700');

html {
	width: 100%;
	height: 100%;
}

body {  
	width:100%; 
	height: 100%;
	margin: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;

	letter-spacing: 0.15em;
	color: #12BD64;
	
}

p {
	margin: 0;
}

.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0E1118;
    width:100%; 
	height: 100%;
}

.console {
	box-sizing: border-box;
	width: 84%;
	height: 68%;
	padding: 32px;
	
	background: #0E1118;
	box-shadow: 0px 0px 64px #000000;
	border-radius: 8px;
}

a { text-decoration:none; color:rgb(99, 253, 136) ;; transition:0.2s; }
a:hover { text-decoration:none; color:rgb(99, 253, 136) ;; transition:0.2s; }

/* progress bar */

#progress-bar-container {
	animation-name: fadeIn;
	animation-duration: 4s;
	opacity: 0;
    height: 13px;
    position: relative;
    width: 50%;
	margin-left: 48px;
    margin-top: 60px;
}


.progress-bar-child {
	height: 47%;
}

.progress {
	 background: repeating-linear-gradient(270deg,#12BD64 0 32px,#0E1118 0 42px);
}

.shrinker {
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
    width: 95%;
}

.timelapse {
	animation-name: timelapse;
	animation-fill-mode: forwards;
	animation-play-state: paused;  
	animation-duration: 6s;
	animation-timing-function: cubic-bezier(.86, .05, .4, .96);
	background: repeating-linear-gradient(270deg, #33383D 0 32px,#0E1118 0 42px);
}

.rabbit {
	height: 50px;
	position: absolute;
    top: -22px;
    left: -18px;
	transform: scaleX(-1);
	z-index: 1;
}

.hr {
    border-top: 5px dashed #12BD64;
	width: 50%;
}

.center-item {
	position: absolute;
    left: -53px;
    top: -25px;
}

.stepper {
	background-color: #0E1118;
}

.stepper1 {
	position: absolute;
    left: 376px;
    top: -25px;
}

.stepper3 {
    position: absolute;
    background-color: #0E1118;
	position: absolute;
    left: 777px;
    top: -25px;
}

.center_rabbit {
	margin-top: 50px;
    height: 27px;
}

@keyframes moveRabbit {
	0%   {left: 0px; top: 0px;}
	100%  {left: 700px; top: 0px;}
  }

#spy {
	color: rgb(20, 6, 36);
	align-items: start;
	background: #0E1118;
	margin: 0;
}

#typeWriter {
	width: 100%;
	height: 100%;
	margin-top: 100px;
}

#typeWriter span {
	display: block;
}

#typeWriter > :last-child::after {
	content: '_';
	display: inline-block;
	animation: blink 1s step-end infinite;
}

#typeWriter .no-prompt::after {
	content: '';
}

#typeWriter #init::after {
	display: none;
}

#typeWriter span.typewriter-item::before {
	content: '>';
	display: inline-block;
	margin-right: 10px;
}

@keyframes blink {
	from, to {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

#wishow {
    width: 300px;

}

pre { 
    text-align:center; 
    font-size:0.60em;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    width: 1645px;
}

.btn {
	width: 167px;
	height: 38px;
	padding: 4px 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #12BD64;
	border-radius: 6px;
    box-sizing: border-box;
	gap: 8px;
	font: 'Inter', sans-serif;
	font-size: 16px;
	line-height:40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: rgb(99, 253, 136);
}

.btn span {
	align-items: center;
	border-radius: 40px;
	display: flex;
    font-size: 16px;
    color: rgb(99, 253, 136);
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}