@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700');

html {
	width: 100%;
	height: 100%;
}

body {  
	width:100%; 
	height: 100%;
	margin: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	position: relative;
	letter-spacing: 0.15em;
	color: #12BD64;
	background: #0E1118;
}

.console {
	z-index: 9;
	top: 16%;
	left: 8%;
	box-sizing: border-box;
	position: absolute;
	width: 84%;
	height: 68%;
	padding: 32px;
	min-width: 250px;
	
	background: #0E1118;
	box-shadow: 0px 0px 64px #000000;
	border-radius: 8px;
}

a { text-decoration:none; color:rgb(99, 253, 136) ;; transition:0.2s; }
a:hover { text-decoration:none; color:rgb(99, 253, 136) ;; transition:0.2s; }

#typeWriter {
	width: 100%;
	height: 100%;
	margin-top: 100px;
	overflow-y: auto;
	padding-top: 30px;
	max-height: calc(100% - 214px);
}

#typeWriter span {
	display: block;
}

#typeWriter > :last-child::after {
	content: '_';
	display: inline-block;
	animation: blink 1s step-end infinite;
}

#typeWriter .no-prompt::after {
	content: '';
}

#typeWriter #init::after {
	display: none;
}

#typeWriter span.typewriter-item::before {
	content: '>';
	display: inline-block;
	margin-right: 10px;
}

@keyframes blink {
	from, to {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

#wishow {
    width: 180px;

}

#spy {
	position: absolute;
	z-index: 8; 
    font-size:0.60em;
	line-height: normal;
}

.navbar {
    display: flex;
    justify-content: center;
	height: 50px;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    width: 1645px;
}

.btn {
	width: 167px;
	height: 38px;
	padding: 4px 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #12BD64;
	border-radius: 6px;
    box-sizing: border-box;
	gap: 8px;
	font: 'Inter', sans-serif;
	font-size: 16px;
	line-height:40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: rgb(99, 253, 136);
}

.btn span {
	align-items: center;
	border-radius: 40px;
	display: flex;
    font-size: 16px;
    color: rgb(99, 253, 136);
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.console {
		top: 10%;
		height: 80%;
	}
	#wishow {
		visibility: hidden;
		width: 0px;
	}
}
