*{
 margin: 0;
 padding: 0;
}

body {
    text-align: center;
    font-size: 20px;
    background-color: rgb(230, 249, 248);
    padding: 5%
}

h1 {
    padding-left: 1%;
    padding-top: 2%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.bold{
    font-weight: 800;
    margin-right: 5px;
}