<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"><link rel="stylesheet" href="../../public/style.css">
    <title>Neo</title>
</head>
<body>
    <!-- la NavBar -->
    <div class="navbar">
        <div class="navbar__content">
            <a id="wishow">
                <pre> _    _  _       _                     
| |  | |(_)     | |                    
| |  | | _  ___ | |__    ___ __      __
| |/\| || |/ __|| '_ \  / _ \\ \ /\ / /
\  /\  /| |\__ \| | | || (_) |\ V  V / 
 \/  \/ |_||___/|_| |_| \___/  \_/\_/  
                </pre>
            </a>
            <div class="btn">
                <span>
                Contact
                </span>
            </div>
        </div>
    </div>

    <!-- la Console -->
    <section id="typeWriter">
    </section>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQ47MXN6FT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-903GCSDCSJ');
    </script>


    <script>
        var baseURL = <%- JSON.stringify(baseURL) %>;
        var initialData = <%- JSON.stringify(initialData) %>;
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script type="module" src="./public/index.js"></script>
    </body>
</html>