<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"><link rel="stylesheet" href="../../public/style.css">
    <title>Neo</title>
</head>
<body>
    <!-- la NavBar -->
    <div class="navbar">
        <div class="navbar__content">
            <a id="wishow">
                <pre> _    _  _       _                     
| |  | |(_)     | |                    
| |  | | _  ___ | |__    ___ __      __
| |/\| || |/ __|| '_ \  / _ \\ \ /\ / /
\  /\  /| |\__ \| | | || (_) |\ V  V / 
 \/  \/ |_||___/|_| |_| \___/  \_/\_/  
                </pre>
            </a>
            <a href="https://wishow.io/contactez-nous/9ed7d834-677a-47a7-b430-2a6a0dda6878" class="btn">
                <span>
                    Contact
                </span>
            </a>
        </div>
    </div>

    <!-- la Console -->
    <section id="typeWriter">
    </section>

    <script>
        var baseURL = <%- JSON.stringify(baseURL) %>;
        var initialData = <%- JSON.stringify(initialData) %>;
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script type="module" src="./public/index.js"></script>
    </body>
</html>